

<h1>Edit event</h1>
<hr>

<%= form_for @event do |f| %>

    <div class = "form-group" >

    <% if @event.errors.any? %>
        <% @event.errors.full_messages.each do |message| %>
            <div class = "alert alert-danger"> <%= message %> </div>
        <% end %>
    <% end %>

    <p>
    <%= f.label :name %>
    <%= f.text_field :name, class:"form-control" %>
    </p>

    <p>
    <%= f.label :location %>
    <%= f.text_field :location, class:"form-control" %>
    </p>

    <p>
    <%= f.label :description %>
    <%= f.text_area :description, class:"form-control" %>
    </p>

    <p>
    <%= f.label :date%>
    <%= f.date_field :date, value: f.object.try(:strftime,"%dd/%mm/%YY"),
                            class:"form-control"  %>
    </p>

    <p>
    <%= f.submit "Save", class:"btn btn-primary" %>
    </p>

    </div>

<% end %>