

<h2>Invite someone at <%= Event.find(session[:event_id]).name %></h2>
<hr>

<%= form_for @attendment do |f| %>

    <div class = "form-group" >

        <p>
        <%= f.label :user_id, "Who do you want to invite?" %>
        <%= f.collection_select :user_id, @users, :id, :name, {}, {:class => "form-control"} %>
        </p>

        <p>
        <%= f.label :invitation_text, "What would you like to say?" %>
        <%= f.text_area :invitation_text, :class => "form-control" %>
        </p>

        <%= f.submit "Invite", :class => "btn btn-primary" %>

    </div>


<% end %>